#accounts-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.account {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#flashcards-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.submit_section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account_text_input {
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;
    height: 20px;
}
.password_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#show_password{
    padding: 0;
    margin: auto 0;
    height: 25px;
}
.password-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.account_submit_button {
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(61, 145, 255);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.account_change_button {
    margin-top: 10px;
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(255, 61, 74);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.password-reset {
    font-size: 16pt;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.card_display {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.add-deck {
    background-color: azure;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    font-size: 14pt;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck h3 {
    padding: 0;
    margin-top: 0;
}
#goto-deck {
    background-color: azure;
    border: none;
    padding-bottom: 20px;
    margin: auto;
}
#goto-deck:hover {
    background-color: rgb(219, 36, 79);
    color: aliceblue;
    border: none;
    padding-bottom: 20px;
    margin: auto;
}
.main-decks-display {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#trash-deck {
    width: 65px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 53, 53);
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#trash-deck:hover {
    width: 65px;
    text-align: center;
    font-size: 12pt;
    color: white;
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#full-decks-display {
    display: flex;
    flex-direction: row;
}
#add-deck input{
    font-size: 14pt;
}
#check-character {
    width: 20px;
    background-color: green;
}
#addchars-show {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    visibility: visible;
}
#deck-name {
    height: 20px;
    font-size: 14pt;
}
#card-name-save {
    height: 23px;
    margin: auto 0;
    padding: 30px auto;
    background-color: rgb(44, 72, 255);
    color: white;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#save-cards {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
    background-color: rgb(44, 72, 255);
    color: #a6dcb0;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.char_table {
    width: 600px;
}

#table-button {
    font-size: 15pt;
    font-weight:bold;
    background-color: white;
}
#view-deck-cards {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    overflow: auto;
}
.info-card{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    margin: 2px 10px;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-button {
    width: 150px;
    margin: 0 10px ;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-button:hover {
    width: 150px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-practice-button {
    width: 170px;
    margin: 0 10px ;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 171, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-practice-button:hover {
    width: 170px;
    margin: 0 10px ;
    font-size: 15pt;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#deck-options-selector, #deck-practice-selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#practice-deck-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.deck-button {
    display: flex;
    flex-direction: row;
    font-size: 14pt;
    align-items: center;
    height: 35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.deck-button .decklabel {
    background-color: white;
    font-weight: bold;
}
#deckname {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
#deckname-edit{
    display: column;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
#edit-card-name {
    font-size: 12pt;
    margin: 12pt;
    border: 2px solid black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}