#accounts-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.account {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#flashcards-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.submit_section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account_text_input {
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;
    height: 20px;
}
.password_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#show_password{
    padding: 0;
    margin: auto 0;
    height: 25px;
}
.password-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.account_submit_button {
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(61, 145, 255);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.account_change_button {
    margin-top: 10px;
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(255, 61, 74);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.password-reset {
    font-size: 16pt;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.card_display {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.deck {
    position: relative;
    z-index: 0;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    padding: 0;
    box-shadow: 3px 3px 0px 4px rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck h3 {
    padding: 0;
    margin-top: 0;
}

.deck:active { /*this class allows for special effects for when the div is clicked o*/
    display: flex;
    box-shadow: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    padding: 0;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck:hover {
    box-shadow: none;
    text-align: center;
    margin: 0 10px;
    padding: 0;
    border: 2px solid rgb(140, 255, 83);
    box-shadow: 3px 3px 3px 4px rgb(140, 255, 83);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#goto-deck {
    background-color: transparent;
    border : none;
    width: 100%;
    padding-bottom: 20px;
    margin: auto;
}

.deck:active {
    box-shadow: none;
    text-align: center;
    margin: 0 10px;
    padding: 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add-deck {
    background-color: azure;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    font-size: 14pt;
    padding: 0;
    box-shadow: 3px 3px 0px 4px rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.add-deck:hover {
    box-shadow: 2px 2px 0px 2px rgb(0, 0, 0);
}


.main-decks-display {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#trash-deck {
    position: absolute; /* Positioned relative to .parent */
    z-index: 100;
    cursor: pointer;
    top: 4px;  /* 20px from the top of parent */
    right: 4px; /* 10px from the right of parent */
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 53, 53);
    margin: 0;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#full-decks-display {
    display: flex;
    flex-direction: row;
}
#add-deck input{
    font-size: 14pt;
}
#check-character {
    width: 20px;
    background-color: green;
}
#addchars-show {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    visibility: visible;
}


#deck-name {
    height: 20px;
    font-size: 14pt;
}
#card-name-save {
    height: 27px;
    display: inline-flex;
    font-size: 14pt;     
    margin: auto;
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;
    background-color: rgb(44, 72, 255);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 10px;
}
#save-cards {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
    background-color: rgb(44, 72, 255);
    color: #a6dcb0;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#add-all-cards {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
    background-color: #a6dcb0;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#remove-all-cards {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
    background-color: #ff3c3c;
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.char_table {
    width: 600px;
}

#table-button {
    font-size: 15pt;
    font-weight:bold;
    padding: 5px;
}
#table-button:hover {
    background-color: #ecff43;
}
#view-deck-cards {
    display: flex; /* Arranges children side by side */
    overflow-x: scroll; /* Enables horizontal scrollbar if needed */
    overflow-y: hidden; /* Hides vertical scrollbar */
    max-width: 800px;
    height: 300px; /* Set a desired height */
    padding: 0px;
    white-space: nowrap; /* Ensures items stay in one line */
}
.info-card{
    white-space: normal; /*overwrite the parent white-space parameter, allowing for nessary line breaks */
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative; 
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: clamp(50px, 200px, 200px);
    height: clamp(70px, 400px, 200px);
    margin: 2px 5px;
    padding: 0px 5px;
    min-width: 0;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-part {
    flex-grow: 1
}
.character-display {
    font-size: 16pt;
    margin-top: 6pt;
    margin-bottom: 0pt;
    padding: 0px;
}
.info-card:hover {
    white-space: wrap;
}/*show all text if hovered*/
.card-text {
    font-size: 12pt;
    margin-top: 3pt;
    margin-bottom: 0pt;
}
.card-text-small {
    font-size: 10pt;
    margin-top: 10pt;
    margin-bottom: 0pt;
}
.card-type-text {
    font-size: 10pt;
    margin-top: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#menu-button {
    margin: 0 10px ;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-button:hover {
    font-size: large;
    background-color: black;
    color: white;
    border: 4px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-practice-button {
    width: 170px;
    margin: 0 10px ;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 171, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu-practice-button:hover {
    width: 170px;
    margin: 0 10px ;
    font-size: 15pt;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#deck-options-selector, #deck-practice-selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#practice-deck-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.deck-button {
    display: flex;
    margin: 0px 2px;
    padding: 0px 2px;
    flex-direction: row;
    font-size: 14pt;
    align-items: center;
    height: 35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.deck-button .decklabel {
    background-color: white;
    font-weight: bold;
}
#deckname {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
#deckname-edit{
    display: column;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
#edit-card-name {
    font-size: 12pt;
    margin: 12pt;
    border: 2px solid black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#input-warning {
    font-weight: bold;
    color:#ff3c3c
}