#accounts-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.account {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.submit_section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account_text_input {
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;
    height: 20px;
}
.password_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#show_password{
    padding: 0;
    margin: auto 0;
    height: 25px;
}
.password-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.account_submit_button {
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(61, 145, 255);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.account_change_button {
    margin-top: 10px;
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(255, 61, 74);
    border-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.password-reset {
    font-size: 16pt;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.card_display {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.deck {
    background-color: azure;
    width: 120px;
    height: 170px;
    margin: 0 10px;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-decks-display {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#trash-deck {
    width: 50px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#trash-deck:hover {
    width: 50px;
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.deck-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#full-decks-display {
    display: flex;
    flex-direction: row;
}
#add-deck input{
    font-size: 14pt;
}
#check-character {
    width: 20px;
    background-color: green;
}
#addchars-show {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    visibility: visible;
}
#deck-name {
    height: 20px;
}
#card-name-save {
    height: 23px;
    margin: auto 0;
    padding: 30px auto;
    background-color: rgb(44, 72, 255);
    color: white;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#save-cards {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
    background-color: rgb(44, 72, 255);
    color: #a6dcb0;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.char_table {
    width: 600px;
}

#table-button {
    font-size: 15pt;
    font-weight:bold;
    background-color: white;
}