.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 4px solid #444;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 0px;
    font-family: Arial;
    background-color: #fff;
    width: clamp(300px, 500px, 500px);
}
.selectCat {
    font-size: 14pt;
}
.title {
    font-size: clamp(1rem, calc(1em + 2vw), 18pt);
    font-weight: bold;
    text-align: center;
    color: black;
}
.selectbuttonContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.rangebuttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/*charbutton button is radio button wrapper*/
.charbutton, .selectbutton {
    padding: 10px 20px;
    font-size: 12pt;
    font-weight: bold; 
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #eee;
}
.charbutton:hover {
    border: 2px solid #CC230A;
}
.selectbutton:hover {
    font-weight: bolder;
    color:#eee;
    background-color: #CC230A;
}
/*selector for a radio button and checked state, to cause the adjacent label to change when selected*/
input[type="radio"] + label{
    background-color: #eee;

}
input[type="radio"]:checked + label{
    background-color: #fdff32;
    border-radius: 5px;
}
input[type="radio"]:checked{
    background-color: #fdff32;
    opacity: 50%;
}

.textinput  {
    font-size: 14pt; 
    height: 16pt;
    font-weight: bold;  
    max-width: 100pt;
    margin: 12pt;
}

.numinput {
    font-size: 12pt; 
    height: 16pt;
    font-weight: bold; 
    width: 60px; 
    margin: auto;
}

#rangeinputbox  {
    margin: 0px; 
    padding: 0px;
    font-size: 14pt; 
    font-weight: bold;  
    display: flex;
    justify-content: center;
    align-items: center;
}
p.rangeinputbox-text {
    margin: 10 0;
    padding: 0px;
}

#error {
    color: red;
    font-size: medium;
    font-weight: bold;
}

#characters-list {
    padding: 2vh 5vw; /* top/bottom padding 2% of vh, left/right padding 5% of vw */
}
.char_table {
    padding: 2vh 5vw; /* top/bottom padding 2% of vh, left/right padding 5% of vw */
}
.charlist_start {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    visibility: visible;
    margin: 0;
}
.charlist_content {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.charbuttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 50px;
}
