.about_main {
    padding: 10px 200px;
    font-size: 12pt;
    color: black;
    text-align: center;
}
#wikidicttext {
    font-size: 20px;
    font-weight: bold;
}
#wikidict {
    width: 100%;       /* full container width */
    height: 700px;     /* or any fixed/relative value */
    position: relative;/* ensures child 100% height works */
}
.stats-title {
    margin: 10px 10px;
    padding: 0
}
/*react list components are anchor tags for css purposes*/
.about_main a {
    text-decoration: none;
}

.list_link  {
    padding: 10px;
    background-color: #08639C;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.list_link:hover  {
    padding: 10px;
    background-color: #002034;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.back_to_learn {
    width: 200px;
    height: 30px;
    font-size: 14pt;
    font-weight: bold;
}

