.all {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: auto;
    text-align: center;
}
.text_container {
    padding: 12px;
    height: 275px;
}

#definition_select {
    font-size: 14pt;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}
#def_buttons {
    font-size: 14pt;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
}

#char_text_input {
    padding: 5px;
    font-size: 16pt;   
    font-weight: bold  
};

.img_container {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    font-family: "kaiti";
    font-size: 14pt; /*chinese font default*/
    gap: 10px;
    padding: 10px;
    margin: 10px
}
.img_container p {
    font-family: "Arial";
    font-weight: bold;
}
.main_text {
    flex: 1;
    font-size: 40pt;
}
/*mobile font size here*/
@media only screen and (max-width: 768px) {
    .main_text {
        flex: 1;
        font-size: 20pt;
    }
}
.sup_text {
    object-fit: contain;
    font-size: 12pt;
}
.tone_buttons {
    font-size: 12pt;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}
.selecttone {
    font-size: 20pt;
    font-weight: bold   
}
table, th, td {
  border: 2px solid black; /* add border to table */
  border-collapse: collapse; /* remove default double border */
  font-size: 14pt;
  font-family: 14pt; /*chinese font default*/
  font-weight: bold;
  text-align: center;
}

.back-menu {
    position: absolute; /* Take out of normal flow */
    bottom: 20px;       /* Distance from bottom */
    left: 20px;        /* Distance from right */
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.back-menu-results {
    background-color: #e63946;
    color: #fff;
    width:  100%;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.back-menu-results:hover {
    background-color: #150002;
    color: #fff;
    width:  100%;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

/*practice button and text settings for mobile */ 
@media only screen and (max-width: 768px) {
    .back-menu {
        position:static; 
        background-color: #e63946;
        color: #fff;
        border: none;
        border-radius: 12px;
        padding: 10px 20px;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
    }
    .back-menu:hover {
        position:static; 
        background-color: #2c0004;
    }
}

.back {
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.skip {
    background-color: 44e02f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.text_wrapper {
    display: flex;
    justify-content: center;
};


.def-text {
    font-family: "kaiti";
    font-size: 14pt;
}
.results-display table {
    border: none /*removes overall table border, does not mean that the individual rows do not have bordes*/
}