#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.logo {
  height: 50px;
}
body {
  overflow:auto;
  font-size: clamp(9pt, 12pt, 12pt);
}
#modules {
    height: 50px;
    padding: 5px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
}

.navBar {
  background-color: #CC230A;
  width: clamp(600px,100%,10000px); /*full width navBar, preserve width even when shrunk*/
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center; /*vertical centering*/
  font-family: Arial, sans-serif;
  border-bottom: 3px solid #dcb909;
}
/*setting for mobile */ 
@media only screen and (max-width: 768px) {
  .navBar {
    background-color: #CC230A;
    width: clamp(600px,100%,10000px); /*full width navBar, preserve width even when shrunk*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center; /*vertical centering*/
    font-family: Arial, sans-serif;
    border-bottom: 3px solid #dcb909;
  }
}
.navBar-main {
  background-color: #CC230A;
  width: clamp(600px,100%,10000px); /*full width navBar, preserve width even when shrunk*/
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center; /*vertical centering*/
  font-family: Arial, sans-serif;
}
#title {
  flex-shrink: 1;
  font-size: clamp(9px,25pt,25pt);
  font-weight: bold;
  font-family: "kaiti";
  color:aliceblue;
  margin: 5pt 10pt;
}
.dropdown a {
  flex-shrink: 1;
  text-decoration: none;
  color: black;
}
.main-option:hover {
  color: black;
}
.main-option a {
    flex-shrink: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(9px,20pt,5vw);
    padding: 8px 0px;
    height: 100%;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/*key part to *style for dropdown menus*/
/*trigger display of the subdropdown content class when the main part is hovered above*/
.dropdown {
  height: 100%;
  width: clamp(100px,160px,10vw);
  text-align: center;
  margin: 0px 10px
}
.dropdown-content { /*do not show dropdown by default, else show*/
  display: none;
}
.dropdown:hover .dropdown-content { 
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: clamp(9pt,12pt,5vw);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  width: clamp(100px,160px,10vw);
}
.dropdown-content p {
  color: black;
  width: clamp(100px,160px,10vw);
  margin: 0;
  padding: 14px 0px;
}
.dropdown-content a {
  margin: 0;
  padding: 0;
} 
/*change highlighting*/
.dropdown-content p:hover {
  color: white;
  background-color: black; /*color applies to padded areas not */
  height: 100%
}
.dropdown #logout:hover {
  color: white;
  background-color: red;
  text-decoration: none;
}
/*mobile only font sizes for the navbar*/
@media only screen and (max-width: 768px) {
  .navBar {
    width: 100%;
  }
  .navBar-main {
    width: 100%;
  }
  #body {
    font-size: 10pt;
    display: flex;
    flex-direction: column;
  }
  #title {
    font-size: 14pt;
    margin-top: 5pt;
    margin-bottom: 0px;

  }
  .main-option {
    padding: 0px;
    margin: 5px;
  }
  .main-option a {
    font-size: 12pt;
    padding: 2px 0px;
  }
  .dropdown a {
    font-size: 12pt;
  }
  .dropdown-content {
    font-size: 12pt;
  }
  .dropdown {
    max-height: fit-content;
    margin: 0px auto;
  }
  
}

