#title {
  font-size: 25pt;
  font-weight: bold;
  font-family: "kaiti";
  color:aliceblue;
  margin: 10px 20px;
}
.logo {
  height: 50px;
}
.navBar {
    background-color: #CC230A;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; /* vertical centering*/
    font-family: Arial, sans-serif;
    border-bottom: 3px solid #dcb909;
}
.main-option {
  position: relative;
  display: inline-block;
}

.main-option, .main-option a {
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
    padding: 8px 16px;
    height: 100%;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.dropdown {
  height: 100%;
  width: 160px;
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 12pt;
  width : 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*trigged when covered*/
.dropdown:hover .dropdown-content { 
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}