#title {
  font-size: 25pt;
  font-weight: bold;
  font-family: "kaiti";
  color:aliceblue;
  margin: 10px 20px;
}
.logo {
  height: 50px;
}
body {
  overflow:auto;
}

.navBar {
    background-color: #CC230A;
    width: 100%; /*full width navBar*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; /*vertical centering*/
    font-family: Arial, sans-serif;
    border-bottom: 3px solid #dcb909;
}
.dropdown a {
  text-decoration: none;
  color: black;
}
.main-option:hover {
  color: black;
}
.main-option a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(9pt,20pt,5vw);
    padding: 8px 0px;
    height: 100%;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
/*key part to *style for dropdown menus*/
/*trigger display of the subdropdown content class when the main part is hovered above*/
.dropdown {
  height: 100%;
  width: clamp(100px,160px,10vw);
  text-align: center;
  margin: 0px 10px
}
.dropdown-content { /*do not show dropdown by default, else show*/
  display: none;
}
.dropdown:hover .dropdown-content { 
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: clamp(9pt,12pt,5vw);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  width: clamp(100px,160px,10vw);
}
.dropdown-content p {
  color: black;
  width: clamp(100px,160px,10vw);
  margin: 0;
  padding: 14px 0px;
}
.dropdown-content a {
  margin: 0;
  padding: 0;
} 
/*change highlighting*/
.dropdown-content p:hover {
  color: white;
  background-color: black; /*color applies to padded areas not */
  height: 100%
}
.dropdown #logout:hover {
  color: white;
  background-color: red;
  text-decoration: none;
}


