.all {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.text_container {
    padding: 12px;
    height: 350px;
    border: 3px solid #636725;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.img_container {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    font-family: "kaiti";
    font-size: 14pt;
    gap: 10px;
    padding: 10px;
    margin: 10px
}
.img_container p {
    font-family: "Arial";
    font-weight: bold;
}
.main_text {
    flex: 1;
    font-size: 40pt;
}
.sup_text {
    object-fit: contain;
    font-size: 12pt;
}

.back {
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.skip {
    background-color: 44e02f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.text_wrapper {
    display: flex;
    justify-content: center;
};
.text_input {
    padding: 5px;
    font-size: 20px;   
    font-weight: bold  
};

.def-text {
    font-family: "kaiti";
    font-size: 14pt;
}